* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /**
   * Canvas
   */
  
  .whiteboard {
   
  }
 
#bottom-panel {
    display: flex;
    justify-content: space-around;
}